
section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


h1 {
  text-align: center;
  font-size: 50px;
}

.slider {
  padding: 3rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  /* background-color: aqua; */
  max-width: 1200;
  width: 100%;
  margin: auto;
}

img {
  width: 400px;
  height: 400px;
  object-fit: cover;
}
